<!doctype html>
<html>
	<body>
		<center>
		<header> <h1> Home </h1> </header>

            <header> <h1> Quiz 3</h1> </header>
		<br> <br>
		<h1> This Webpage consist of Quake records</h1>
		<br>
		<h2><a href = "/records">Retrive Database Details with depth error and longitude</a></h2>
            <h2><a href = "/restrictedlat">Restricted Queries with depth range(without cache )</a></h2>
            <h2><a href = "/q6">Restricted Queries with depth range(with cache)</a></h2>
            <h2><a href = "/q8">Restricted Queries with depth range(with cache)</a></h2>
        </center>
	</body>
</html>