<!doctype html>
<html>
	<body>

		<center>
		<header> <h1> Records </h1> </header>

            <header> <h1> Quiz 3</h1> </header>
		<br> <br>
		<h1> </h1>
		<br>
		<label><h2>Display the no of records:</h2></label><br>
        <form action = "{{ url_for('list1') }}" method = "POST">
		  <label>Enter num  1:</label>
          <input type = "text"
				 name = "dep1"
                  />
            <label>Enter num  2:</label>
          <input type = "text"
				 name = "dep2"
                  />

		  <br>
		  <br>

		  <input type = "submit" value = "submit" /><br>
		  </form>
        </center>
    </body>
</html>
