<!doctype html>
<html>

   <body>
   <center>
      <header> <h1> Records </h1> </header>
      <header> <h1> This page lists the quake records </h1>
      </header>
      <br> <br>
      <table border=1>
    <thead>
    <td>latitude</td>
    <td>longitude</td>
    <td>time</td>
    <td>depthError</td>
    </thead>
    <tbody>
    {% for rows in data1 %}

        <tr>
            <td>{{rows[0]}}</td>
            <td>{{rows[1]}}</td>
            <td>{{rows[2]}}</td>
            <td>{{rows[3]}}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

      <br>
      <h2> <a href = "/">Home</a> </h2>
   </center>
   </body>
</html>