<!doctype html>
<html>
	<body>

		<center>
		<header> <h1> Records </h1> </header>
            <header> <h1> This page lists the quake random records </h1></header>
		<br> <br>
		<h1> </h1>
		<br>
		<label><h2>Enter the number of queries and :</h2></label><br>
        <form action = "{{ url_for('options5') }}" method = "POST">
		<label>Enter Depth error 1:</label>
         <input type = "text"
				 name = "l1"
                  />
		<label>Enter depth error 2:</label>
         <input type = "text"
				 name = "l2"
                  />
            <label>Enter longitude:</label>
         <input type = "text"
				 name = "lon"
                  />
            <label>Enter num:</label>
         <input type = "text"
				 name = "num"
                  />
            <br>
            With or without cache?
             <select name = "c">
                 <option value ="Cache">Cache</option>
                 <option value="None">Without Cache</option>
             </select>

		  <br>
		  <br>
		  <input type = "submit" value = "submit" /><br>
		  </form>
        </center>

    </body>
</html>
